In [1]:
import pickle
import pandas as pd
import os

In [52]:
# load model
load_model = pickle.load(open(os.path.join('../models', 'LGboost.sav'), 'rb'))

# load data and drop last row
test_data = pd.read_csv(os.path.join('../data', 'original', 'test_features.tar.gz'), compression='gzip')
test_data.dropna(inplace=True)

# reset column names
columns = ['jobId', 'companyId', 'jobType', 'degree',
                              'major', 'industry', 'yearsExperience', 'milesFromMetropolis']
test_data.columns = columns

# drop first column as it is not used in the final model
test_data.drop('jobId', axis=1, inplace=True)

# show first few rows
test_data.head()

,companyId,jobType,degree,major,industry,yearsExperience,milesFromMetropolis
0,COMP33,MANAGER,HIGH_SCHOOL,NONE,HEALTH,22.0,73.0
1,COMP13,JUNIOR,NONE,NONE,AUTO,20.0,47.0
2,COMP10,CTO,MASTERS,BIOLOGY,HEALTH,17.0,9.0
3,COMP21,MANAGER,HIGH_SCHOOL,NONE,OIL,14.0,96.0
4,COMP36,JUNIOR,DOCTORAL,BIOLOGY,OIL,10.0,44.0

In [53]:
# add a flag if they have an advanced degree
degrees = test_data['degree']
advanced_degrees = [
                1 if degree == 'DOCTORAL' else 1 if degree == 'MASTERS' else 0
                for degree in degrees
            ]
test_data['IsAdvancedDegree'] = advanced_degrees

# VicePresident or Above 
job_types = test_data['jobType']
vp_or_c_levels = [
                1 if job_type == 'CEO' else 1 if job_type == 'CFO' else
                1 if job_type == 'CTO' else 1 if job_type == 'VICE_PRESIDENT' else 0
                for job_type in job_types
            ]
test_data['VicePresidentOrAbove'] = vp_or_c_levels

In [84]:
# set column names to ensure ordering
columns = ['companyId', 'jobType', 'degree', 'major', 'industry', 
            'yearsExperience', 'milesFromMetropolis', 'IsAdvancedDegree', 
            'VicePresidentOrAbove']

#
sample_data = {'companyId': 'COMP33',
 'jobType': 'MANAGER',
 'degree': 'HIGH_SCHOOL',
 'major': 'NONE',
 'industry': 'HEALTH',
 'yearsExperience': 22.0,
 'milesFromMetropolis': 73.0,
 'IsAdvancedDegree': 0,
 'VicePresidentOrAbove': 0}

sample_df = pd.DataFrame(sample_data, index=[0])
sample_df

,companyId,jobType,degree,major,industry,yearsExperience,milesFromMetropolis,IsAdvancedDegree,VicePresidentOrAbove
0,COMP33,MANAGER,HIGH_SCHOOL,NONE,HEALTH,22.0,73.0,0,0

In [88]:
# set column names to ensure ordering
columns = ['companyId', 'jobType', 'degree', 'major', 'industry', 
            'yearsExperience', 'milesFromMetropolis', 'IsAdvancedDegree', 
            'VicePresidentOrAbove']

# perform predictions                         
prediction = load_model.predict(sample_df)
print(f"Your predicted salary is {round(prediction[0], 2) * 1000}")

Your predicted salary is 112430.0